.va {
  display: flex;
  align-items: center;
}
:root {
  --brandColor: #00A752;
  --background: rgb(247, 247, 247);
  --textDark: hsla(0, 0%, 0%, 1);
  --textLight: hsla(0, 0%, 0%, 0.5);
}

/*
body {
  background: var(--background);
  color: var(--textDark);
}
*/


.field:not(:last-child) {
  margin-bottom: 1rem;
}

.register {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background: transparent;
  border: 2px solid #040404;
}

.left,
.right {
  padding: 4.5rem;
}

.left {
  border-right: 2px solid #040404;
}

@media screen and (max-width: 769px) {
  .left {
    border-right: 0px;
  }
}

.left .title {
  font-weight: 800;
  letter-spacing: -2px;
}

.left .colored {
  color: var(--brandColor);
  font-weight: 500;
  margin-top: 1rem !important;
  letter-spacing: -1px;
}

.left p {
  color: var(--textLight);
  font-size: 1.15rem;
}

.right .title {
  font-weight: 800;
  letter-spacing: -1px;
}

.right .description {
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  color: var(--textLight);
  font-size: 1.15rem;
}

.right small {
  color: var(--textLight);
}

.fab,
.fas {
  color: var(--textLight);
  margin-right: 1rem;
}
